# Python 캐시
__pycache__/
*.py[cod]

# 데이터 파일 (매우 중요! 용량이 커서 제외해야 함)
*.hdf5
*.npz
/tmp/

# 시뮬레이션 관련
model.xml
macros_private.py

# ROS 2 빌드 결과물 (패키지 상위 폴더에 생기지만 예방 차원)
build/
install/
log/

# IDE 및 시스템 설정
.vscode/
.idea/
.DS_Store
